{% extends "base.html" %}
{% load static %}
{%block css_js%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
  <link rel="stylesheet" href="{% static 'css/home-style.css' %}"/>
{%endblock css_js%}
{%block header%}
  <section>
    <div class ="container-fluid bg-light mb-5">
        <div class = "container-xxl" >
          <img src="{% static 'image/banner.jpg' %}" class="heightimg" alt="">
        </div>
    </div>
  </section>
{%endblock header%}
{%block body%}
    <section>
      <div class ="container mb-5">
      <h1 class="display-4 text-xs-center m-y-3 text-muted" id="speakers">Danh sách truyện</h1>
      <div class="row gy-3" >
        {%for truyen in truyens %}
        <div class=" col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="card rounded-0 h-100 ">
              <img alt="Card image cap" class="card-img-top " src="{{truyen.img.url}}" />
            <div class="card-block border-0 rounded-0 card text-center">
              <h4 class="card-title">
                <a href="{% url 'summary' %}">{{truyen.title}}</a>
              </h4>
              <p class="card-text">{{truyen.description}}</p>
            </div>
          </div>
         
        </div>
        {%endfor %}
    </section>
{%endblock body%}
