{% extends "base.html" %}
{% load static %}
{%block css_js%}
  <link rel="stylesheet" href="{% static 'css/home-style.css' %}"/>
{%endblock css_js%}
{%block header%}
  <section>
    <div class ="container-fluid bg-light mb-5">
        <div class = "container sm md lg-xxl" >
          <img src="{% static 'image/banner.jpg' %}" class="heightimg" alt="">
        </div>
    </div>
  </section>
{%endblock header%}
{%block body%}
    <section>
      <div class ="container mb-5">
      <div class = "row ">
        <div class ="col-sm-9    col-md-9    col-lg-10          bg-light p-3 border ">
          <h1 class="display-4 text-xs-center m-y-3 text-muted" id="speakers">Danh sách truyện</h1>
            <div class="row gy-3" >
              {%for truyen in truyens %}
              <div class=" col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <div class="card rounded-0 h-100 ">
                    <img alt="Card image cap" class="card-img-top" src="{{truyen.img.url}}" />
                    <h4 class="card-title  text-center ">
                      <a class ="listlink" href="{% url 'deltal' %}?id={{truyen.id}}">{{truyen.title}}</a>
                      <h6 class="card-subtitle mb-2 text-center text-muted card-text">{{truyen.description}}</h6>
                    </h4>
          </div>
        </div>
        {%endfor %}
        </div>
        
      </div>
      <div class = " col ">
        <p>aaaa</p>
      </div>
      
    </section>
<style>
  a.listlink {
    color: rgb(62, 50, 52);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  a.listlink:hover {
    color: rgb(133, 234, 203);
    transition: 0.1s;
  }
</style>

{%endblock body%}


