
@media (min-width: 1200px){
    .maxWidthFullBody, .mW-content-classin, .mW-content-classin-p-0 {
        padding-left: 32px;
        padding-right: 32px;
    }
}

picture {
    text-align: center;
}
.mt-0 {
    margin-top: 0;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}


.-mx-8 {
    margin-left: -2rem;
    margin-right: -2rem;
}
.relative {
    position: relative;
}
@media (min-width: 768px){
    .index_desktop_container__Enu4s {
        min-height: 480px;
    }
}
@media (min-width: 1200px){
    .desktop\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .desktop\:-mx-20 {
        margin-left: -5rem;
        margin-right: -5rem;
    }
}
.index_desktop_background__0wFhc {
    filter: blur(60px);
}
.bg-cover {
    background-size: cover;
}
.w-full {
    width: 100%;
}

.h-\[100\%\], .h-full {
    height: 100%;
}
.block {
    display: block;
}
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.absolute {
    position: absolute;
}


user agent stylesheet
div {
    display: block;
}
.pl-12 {
    padding-left: 3rem;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}       
.flex-1 {
    flex: 1 1 0%;
    background-color: rgba(200,200,210,.7)   
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.mr-0 {
    margin-right: 0;
}
.mr-2 {
    margin-right: .5rem;
}
.ml-2 {
    margin-left: .5rem;
}
.-top-4 {
    top: -1rem;
}
.right-0 {
    right: 0;
}

.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.pt-2 {
    padding-top: .5rem;
}
@media (min-width: 1200px){
    .desktop\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}
@media (min-width: 1200px){
    .desktop\:pt-0 {
        padding-top: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
@media (min-width: 768px){
    .index_desktop_image__27E7e {
        width: 24%;
        background-color: rgba(210,210,210,.8);
    }
}
.index_desktop_image__27E7e img {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.3);
    display: block;
    height: auto;
    width: 100%;
    align-self: flex-start;
    border-radius: .25rem
}
img {
    transform: translateZ(0);
}
img {
    border-style: solid;
}

.index_desktop_socialWrapper__vCihY {
    min-height: 48px;
}
.items-end {
    align-items: flex-end;
}
.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
@media (min-width: 1200px){
    .social_item__0U5H7 {
        min-width: 0;
    }
}
.social_item__0U5H7 {
    padding: .5rem .625rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
@media (min-width: 1200px){
    .desktop\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 768px){
    .tablet\:mt-0 {
        margin-top: 0;
    }
    .tablet\:ml-2 {
        margin-left: .5rem;
    }
}
.capitalize {
    text-transform: capitalize;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.social_infoNumber__8SNKv {
    color: var(--social_number_color,#ea6016);
}
.social_iconWrap__TNbRs {
    min-height: 30px;
    min-width: 24px;
}

.inline-block {
    display: inline-block;
}
.social_icon__ejqlV {
    width: 24px;
    height: 24px;
}
.justify-center {
    justify-content: center;
}
.inline-flex {
    display: inline-flex;
}

.social_icon__ejqlV svg {
    fill: var(--social_icon_color,#fff);
    display: block;
    width: 100%;
    height: 100%;
}
.index_desktop_btns__xkQWG {
    min-height: 40px;
}
@media (min-width: 1200px){
    .desktop\:flex-wrap {
        flex-wrap: wrap;
    }
}
.items-center {
    align-items: center;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.button_light-blue__7WDE1, .button_primary__PzUTB {
    color: var(--button_primary_text_color,#fff);
    background-position: 0;
}
.button_primary__PzUTB {
    background-size: 200% auto;
    background-image: var(--button_primary_background_color,linear-gradient(90deg,#f80,#ea3c2a 50%,#f80) );
}

.button_regular__F7E74 {
    min-height: 40px;
}
.button_button__r6wnz {
    border-radius: var(--button_radius,4px);
    transition: color .5s,background-position .3s,box-shadow .3s;
}
@media (min-width: 1200px){
    .desktop\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media (min-width: 1200px){
    .desktop\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.no-underline {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.border-transparent {
    border-color: transparent;
}
.border-solid {
    border-style: solid;
}
.border {
    border-width: 1px;
}
.cursor-pointer {
    cursor: pointer;
}
.button_buttonTicket__qyP_b {
    border: 1px solid var(--button_white_blue_border_color,#ea6016);
    background: none;
    color: var(--button_white_blue_text_color,#ea6016);
}
.\!shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
}
.\!mr-6 {
    margin-right: 1.5rem!important;
}
.\!ml-4 {
    margin-left: 1rem!important;
}
.button_regular__F7E74 .button_icon__Il1Mq {
    width: 1rem;
}
.button_icon__Il1Mq {
    line-height: 0;
    width: 18px;
    height: 18px;
}

.button_button__r6wnz.button_white__jBVlZ svg {
    fill: var(--button_secondary_icon_color,#141414);
}
.button_white__jBVlZ {
    color: var(--button_secondary_text_color,#141414);
    background-color: var(--button_secondary_background_color,#fbfbfb);
    border-color: var(--button_secondary_border_color,transparent);
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.hidden {
    display: none;
}
.mb-2\.5 {
    margin-bottom: .625rem;
}
.metadata_label__DARMb {
    color: var(--meta_label_color,#120101);
}
.mr-1 {
    margin-right: .25rem;
}
.metadata_info__LnFyC {
    color: var(--meta_info_color,#fff);
}
.whitespace-normal {
    white-space: normal;
}
.metadata_info__LnFyC a {
    color: var(--meta_info_link_color,#ea6016);
}
.accordion_root__bscXK {
    color: var(--banner_info_color,#fff);
}
.whitespace-pre-wrap {
    white-space: pre-wrap;
}
.accordion_more__ESPhR {
    color: var(--meta_show_more_text_color,#bcbcbc);
}
.underline {
    text-decoration: underline;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.bgr{
    background-color: rgba(200,200,210,.7)   
}
@media (min-width: 1200px){
    .desktop\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
.tabs_tabs-comments__2Wh_C {
    margin-top: 20px;
}
.tabs_tabs-comments__2Wh_C .tabs_heading__hnB1c {
    justify-content: center;
}
.tabs_tabs-comments__2Wh_C .tabs_heading__hnB1c {
    background: var(--tabs_heading_comment_background_color,#242424);
}
@media (min-width: 768px){
    .tablet\:justify-items-start {
        justify-items: start;
    }
}
@media (min-width: 768px){
    .tablet\:flex {
        display: flex;
    }
}
.px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
}
.-ml-24 {
    margin-left: -6rem;
}
.-mr-24 {
    margin-right: -6rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
fieldset, ol, ul {
    margin: 0;
    padding: 0;
}
.tab_root__UdDNO {
    padding-left: .25rem;
    padding-right: .25rem;
}
.tab_root__UdDNO.tab_isActive__ibKCb .tab_link__d7Ugf {
    color: var(--tab_link_active_color,#ea6016);
    background: var(--tab_link_active_background_color,-webkit-linear-gradient(#f80,#ea3c2a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab_link__d7Ugf {
    color: var(--tab_link_color,#fff);
    position: relative;
    display: block;
    cursor: pointer;
    padding: 1rem .5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
@media (min-width: 768px){
    .tab_link__d7Ugf {
        padding: 1rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 768px){
    .tabs_tabs-comments__2Wh_C .tabs_container__o4dw7 {
        background: var(--tab_comment_background,#1f1f1f);
        border-radius: 16px;
        padding: 32px;
        max-width: 770px;
        margin: 0 auto;
    }
}

.tabs_tabs-comments__2Wh_C .tabs_content__ebqwH>div {
    display: flex;
    flex-wrap: wrap;
}

.tabs_tabs-comments__2Wh_C .tabs_content__ebqwH>div>h2 {
    justify-self: flex-end;
    order: 0;
    width: 100px;
    margin: 0;
    align-self: center;
}
.clear-both {
    clear: both;
}
.normal-case {
    text-transform: none;
}
.button_sort__jPVks span {
    color: grey;
}
.button_icon__Il1Mq svg {
    width: 100%;
    height: 100%;
}
img, svg {
    display: inline-block;
}

.message_root__vwSon {
    color: #fff;
    justify-self: flex-start;
    order: -1;
    width: calc(100% - 100px);
}

@media (min-width: 768px){
    .tablet\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 768px){
    .tablet\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.text-gray-dusty {
    --tw-text-opacity: 1;
    color: rgba(150,150,150,var(--tw-text-opacity));
}
.overflow-ellipsis, .truncate {
    text-overflow: ellipsis;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
}
  
.card-line_root__FjE3_ {
    border-color: #353434;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.border-b {
    border-bottom-width: 1px;
}
.card-line_thumb__M9M8_ {
    width: 123px;
    position: relative;
}
.card-line_src__8Erx_ {
    padding-bottom: 100%;
}

.rounded-lg {
    border-radius: .5rem;
}
.card-line_thumb__M9M8_ img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
@media (min-width: 1400px){
    .desktopLg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
.card-line_text__O92Ae {
    color: grey;
}

@media (min-width: 1400px){
    .desktopLg\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
.font-normal {
    font-weight: 400;
}
.card-line_title__aTque {
    color: var(--white,#fff);
}
.flex-2 {
    flex: 1 1 0%;
}
.text-right {
    text-align: right;
}
.card-line_extra__6TxUD {
    color: #ea6016;
}

@media (min-width: 1200px){
    .desktop\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
.justify-end {
    justify-content: flex-end;
}
.tabs_content__ebqwH:not(.tabs_isActive___mQed) {
    display: none!important;
}
.tx{
    color: #fbfbfb;
    text-align: center;
    font-size: 1.5rem;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(210, 91, 17, 0.2);
    border-color: rgba(210, 91, 17, 0.5);
  }

  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tabs {
    display: block;
  }
  .tabs .line {
    position: absolute;
  }
.listlink {
    color: rgb(178, 160, 163);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.listlink:hover {
    color: rgb(133, 234, 203);
    transition: 0.1s;
}