{% extends "base.html" %}
{% load static %}
{% block title %}summary{% endblock %}

{%block css_js%}
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
{%endblock css_js%}

{%block body%}
    <h1 style="font-size: 40px; margin-left: 30px;" class="p-2">
        Add Comment
    </h1>

    <div class="container m-5">
        <form action="" method="post">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Submit">

        </form>
    </div>
{%endblock body%}