{% extends "base.html" %}
{% load static %}
{% block title %}summary{% endblock %}

{%block css_js%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/home-style.css' %}"/>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
{%endblock css_js%}

{%block body%}
  <div class="relative mt-0 -mx-8 px-8 desktop:-mx-20 desktop:px-20 index_desktop_container__Enu4s" bis_skin_checked="1">
      <div class="absolute bg-cover inset-0 index_desktop_background__0wFhc" bis_skin_checked="1">
      </div>
  </div>
  <style>
      @media (min-width: 768px)
      .index_desktop_container__Enu4s {
        min-height: 480px;
      }
      .px-8 {
          padding-left: 2rem;
          padding-right: 2rem;
      }
      .mt-0 {
          margin-top: 0;
      }

      .-mx-8 {
          margin-left: -2rem;
          margin-right: -2rem;
      }
      .relative {
          position: relative;
      }
      .index_desktop_background__0wFhc {
          filter: blur(60px);
      }
      .bg-cover {
          background-size: cover;
      }
      .inset-0 {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
      .absolute {
          position: absolute;
      }
      * {
          --tw-shadow: 0 0 #0000;
          --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
          --tw-ring-offset-width: 0px;
          --tw-ring-offset-color: #fff;
          --tw-ring-color: rgba(59,130,246,0.5);
          --tw-ring-offset-shadow: 0 0 #0000;
          --tw-ring-shadow: 0 0 #0000;
      }
      *, :after, :before {
          box-sizing: border-box;
          border: 0 solid #e5e7eb;
      }

      user agent stylesheet
      div {
          display: block;
      }
  </style>
{%endblock body%}
