{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
  </head>
  {%block css_js%}
  {%endblock%}
  <header>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img 
          id="MDB-logo"
          alt="MDB Logo"
          draggable="false"
          height="50" src="{% static 'image/logo.png' %}" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'homepage'%}">Trang chủ</a>
            </li>
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link active" href="{%url 'favorite'%}">Yêu thích</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
              </a>
              <ul class="dropdown-menu text-center" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#"></a>Profile</li>
                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{%url 'logout'%}">Đăng xuất</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{%url 'logout' %}">Đăng nhập</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" method ='get' action={% url 'search' %}>
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Nhập tên truyện" aria-label="Search" name ="scontent">
           <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
    {%block header%} {%endblock header%}
  </header>

  <body>
    <main>{%block body%} {%endblock body%}</main>
  </body>

  <footer>
    {%block footer%} {%endblock footer%}
    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Điều hướng</h3>
              <ul>
                <li><a href="{%url 'homepage'%}">Trang chủ</a></li>
                <li><a href="#">Cá nhân</a></li>
                <li><a href="{%url 'logout'%}">Đăng xuất</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>Về chúng tôi</h3>
              <ul>
                <li><a href="#">Team</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Ethereal</h3>
              <p>
                Với sứ mệnh cao cả, đem đến cho bạn những giây phút giải trí, thư giãn thoải mái nhất. Chúng tôi luôn cố gắng hết sức để đem đến cho bạn những trải nghiệm tuyệt vời nhất.
              </p>
            </div>
          </div>
          <p class="copyright">Ethereal since © 2021</p>
        </div>
      </footer>
    </div>
  </footer>
</html>
